* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: black;
  font-size: 16px;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  color: white;
}

/* Header */
.header {
  background: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar {
  padding: 10px 20px;
}

a {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

/* Description */
.description {
  width: 100%;
  display: flex;
  padding: 50px 20px 30px 20px;
}

.text {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
}

/*Footer Section*/
.footer {
  padding: 20px 20px;
  background-color: #000;
  color: #fff;
}

.footer p {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

/*slider*/
.container {
  padding: 20px;
  width: 50%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.slider-wrapper {
  position: relative;
  margin: 0px;
  width: 100%;
}

.slider {
  position: relative;
  margin: 0px;
  display: flex;
  aspect-ratio: 4/3;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider img {
  flex: 1 0 50%;
  scroll-snap-align: start;
  object-fit: cover;
  justify-content: center;
}

.slider-nav {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  transform: translateX(50%);
  z-index: 1;
}

.caption {
  font-weight: 600;
  padding: 5px;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.category {
  font-style: italic;
}

/* Next and previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
