* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 16px;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  color: white;
  display: grid;
}

/* Header */
.header {
  background: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar {
  padding: 10px 20px;
}

a {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

/* Description */
.main {
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
  padding: 10px 20px 0px 20px;
  margin-top: 3%;
}

/* Description */
.description {
  width: 65%;
  padding-bottom: 10%;
  padding-right: 20%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* Contacts */
.contacts {
  width: 35%;
  padding-bottom: 10%;
  padding-right: 10%;
  display: flex;
  position: relative;
}

/* Image */
.imagewoody {
  width: 65%;
  padding-bottom: 0;
  padding-right: 20%;
}

img {
  width: 30%;
  align-items: center;
}

/* Downloads */
.download {
  width: 35%;
  color: black;
  display: block;
}

@media (max-width: 767px) {
  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
  padding: 0px 20px 0px 20px;
  margin-top: 10%;
}
  
  /* Description */
  .description {
    width: 100%;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  /* Contacts */
  .contacts {
    width: 100%;
    padding-bottom: 10%;
    padding-right: 10%;
    display: flex;
    position: relative;
  }

  /* Image */
  .imagewoody {
    width: 100%;
    padding-bottom: 5%;
    padding-right: 20%;
  }
  
  
   img {
     width: 50%;
     align-items: center;
   }

  .download {
    width: 100%;
    color: black;
    display: block;
    padding-bottom: 10%;
  }
}

/* Paragraph */
p {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

#number,
#mail {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

#cv,
#portfolio {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  display: blocK;
  padding: 1%;
  width: fit-content;
}

#education {
  padding-right: 5%;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  margin-top: 10%;
}

.buttons {
  border: 2px solid white;
  border-radius: 0.5rem;
}
